*{
    padding: 0;
    margin: 0;
}
body{
    min-height: 100vh;
    background-image: url(agro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    background-color: greenyellow;
    box-shadow: 3px 3px 5px deepskyblue;
}
nav ul{
    width: 100%;
    list-style: none;
    display:flex;
    justify-content:flex-end;
    align-items:center;
}
nav li{
    height:50px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display:flex;
    align-items:center;
    color: black;
}
nav a :hover{
    background-color: greenyellow;
}
nav li:first-child{
    margin-right: auto;
}
.sidebar{
    position: fixed;
    top: 0;
    right:0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background: greenyellow;
    backdrop-filter: blur(100px);
    box-shadow: 10px 0 10px black;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
@media (max-width: 800px) {
    .hideOnMobile {
        display: none;
    }
}
